@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    border: none;
    outline-color: transparent;
    font-size: 15px;
}

:root {
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish: hsl(233, 8%, 79%);
    --Darkgrayish: hsl(236, 13%, 42%);
    --Verydark: hsl(240, 100%, 5%);
}

body {
    margin: auto;
    padding: 2rem 1rem;
    max-width: 1320px;
    height: 100vh;
}

nav {
    position: relative;
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    gap: 3rem;
    color: var(--Darkgrayish);

    transition: all 0.7s ease-out;
}

nav > div a {
    color: var(--Darkgrayish);
    cursor: pointer;
}

nav > div a:hover,
nav > div a:focus {
    color: var(--Softred);
}

nav > div > button,
nav > button {
    display: none;
    background: none;
}

/* Main Section */

main {
    position: relative;
    margin-top: 3.5rem;
}

main > header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr minmax(1fr, 0);
    grid-template-rows: 1.5 1fr;
    gap: 2.5rem;
}

main > header > picture {
    width: 100%;

    grid-column: 1 / span 2;
    grid-row: 1;
}

main > header > picture > img {
    width: 100%;
}

main > header > h1 {
    font-size: 46px;
    font-weight: 800;
    color: var(--Verydark);

    grid-column: 1;
    grid-row: 2;
}

main > header > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;

    grid-column: 2;
    grid-row: 2;
}

main > header > div > p {
    color: var(--Darkgrayish);
}

main > header > div > button {
    padding: 1rem 2.5rem;
    width: max-content;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    background: var(--Softred);
    color: var(--Off-white);
    cursor: pointer;
}

main > header > div > button:hover,
main > header > div > button:focus {
    background: var(--Verydark);
}

main > header > aside {
    padding: 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    background: var(--Verydark);

    grid-column: 3;
    grid-row: 1 / span 2;
}

main > header > aside > h2 {
    color: var(--Softorange);
    font-size: 32px;
    font-weight: 700;
}

main > header > aside a {
    color: var(--Off-white);
    font-size: 18px;
    font-weight: 700;
}

main > header > aside a:hover,
main > header > aside a:focus {
    color: var(--Softorange);
}

main > header > aside p {
    color: var(--Grayish);
    font-weight: 400;
}

main > header > aside > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

main > header > aside > span {
    width: 100%;
    height: 1px;
    background: var(--Grayish);
}

/* Under Section */

main > section {
    position: relative;
    margin-top: 3.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

main > section > div {
    max-width: 350px;
    display: flex;
    gap: 1.75rem;
}

main > section > div img {
    width: 6em;
}

main > section > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

main > section > div h2 {
    color: var(--Grayish);
    font-size: 32px;
    font-weight: 700;
}

main > section > div h4 {
    color: var(--Verydark);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

main > section > div h4:hover,
main > section > div h4:focus {
    color: var(--Softred);
}

main > section > div p {
    color: var(--Darkgrayish);
}

@media screen and (max-width: 1440px) {
    body {
        padding: 1rem;
    }

    main > header > aside {
        align-items: center;
        flex-direction: row;

        grid-column: 1 / span 2;
        grid-row: 3;
    }

    main > header > aside > span {
        width: 1px;
        height: 100%;
    }
}

@media screen and (max-width: 800px) {
    nav > div {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: var(--Off-white);

        z-index: 1;
    }

    nav > button {
        display: flex;
    }

    main > header > aside {
        align-items: start;
        flex-direction: column;

        grid-column: 1 / span 2;
        grid-row: 4;
    }

    main > header > aside > span {
        width: 100%;
        height: 1px;
    }
}

@media screen and (max-width: 600px) {
    main > header > h1 {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    main > header > div {
        grid-column: 1 / span 2;
        grid-row: 3;
    }
}

.menuBtn {
    display: flex;
}

.menuActive {
    top: 0;
}

.menuActive > a {
    font-size: 18px;
}
